<%- include('./partials/header') -%>



<div class="single-blog-container">
    <div class="single-blog-title">

      <h1><%= title %></h1>
    </div>
    <div class="single-blog-intro">
      <h3>Topic Introduction: </h3>
      <p><%= intro %></p>
    </div>
    <div class="single-blog-body">
      <h3>Blog: </h3>
      <p><%= body1 %></p>
      <br>
      <p><%= body2 %></p>
      <br>
      <p><%= body3 %></p>
    </div>
    <div class="single-blog-conclusion">
      <h3>Conclusion: </h3>
      <p><%= conclusion %></p>
    </div>
  </div>

  <%- include('./partials/footer') -%>
  <script src="/js/first.js"></script>
</body>

