<%- include('./partials/header') -%>

<div class="con">
  <p><%= title %></p>
  <p><%= date %></p>
  <p><%= body %></p>
  <p><%= author %></p>
  <p><%= image %></p>
  <img src="../uploads/<%= image%>" width="300" alt="memImage" />
</div>
